
        <div class="row">
          <div class="margin">
            <div class="card-panel teal">
              <span class="white-text"><%= comment.text %></span>
            </div>
          </div>
        </div>
